body
{
    background-image: linear-gradient(rgb(255, 220, 225), rgb(204, 131, 131));

}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px palevioletred;
    border-radius: 2%;
    width: 50vw;
    height: 95vh;
    margin: auto;
    background-image: linear-gradient(pink, rgb(241, 214, 245));

}
#opciok{

    display: grid;
    margin-top: 100px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 100px;
    row-gap:100px
    
}
#kerdes{
    padding-bottom: 10px;
    border-bottom: solid 2px palevioletred;
    font-style: italic;
}
    
    
.opcio{
    padding: 100px;
    padding-left: 150px;
    padding-right: 150px;
    border: solid 2px palevioletred;
    border-radius: 5%;
}
.opcio:hover{
    background-color: lightpink;
}
